<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    <!-- Bean definitions go here -->
    
    <!-- beans have 2 parts! ClassType varName -->
    <bean class="com.tsguild.petshelter.ui.ConsoleIO" id="consoleIO">
        <!-- if I am using a no args constructor for this object, I don't have to provide anything else!! -->
    </bean>
    
    <bean class="com.tsguild.petshelter.dao.ShelterDaoImpl" id="dao">
        <!-- We have to instantiate the IMPLEMENTING CLASS because you CANT INSTANTIATE AN INTERFACE -->
    </bean>
    
    <bean class="com.tsguild.petshelter.dao.ShelterDaoDumbStub" id="dummy" />
    
    <bean class="com.tsguild.petshelter.ops.ShelterController" id="controller">
        <!-- this one needs stuff inside, because IT NEEDS SOMEONE WHO CAN BE A STAN, SO WE NEED TO GIVE IT A STAN -->
        <constructor-arg ref="dao"/> <!-- if you're injecting via constructor, then give it the NAME OF THE BEAN to inject -->
        <property name="console" ref="consoleIO" /> <!-- if you're injecting via setter, give it the name (THAT MATCHES THE SETTER) and then the name of the bean to inject -->
    </bean>
    
    
</beans>